<ion-view view-title="About">

  <ion-nav-title>
    <span class="title">  <i class="icon ion-information-circled"></i> About </span>
  </ion-nav-title>

    <ion-content class="padding">
    <div align="Center">
      <img style="width: auto; height: auto;max-width: 250px;max-height: 250px" src="Logo-header.png">
      <h3> Designed and Developed by      <br>              <img style="width: auto; height: auto;max-width: 120px;max-height: 120px"  src="images/water.png"> </h3>
    </div>
  </ion-content>
</ion-view>
