<ion-view view-title="User Registration">
  <ion-modal-view>

    <ion-header-bar >
      <h1 class="title">User Registration</h1>
    </ion-header-bar>
    <ion-content>

      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="data.username" >
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="text" ng-model="data.password">
        </label>
        <label class="item item-input">
          <span class="input-label">eMail</span>
          <input type="email" ng-model="data.email" >
        </label>
        <label class="item item-input">
          <span class="input-label">Phone</span>
          <input type="tel" ng-model="data.phone">
        </label>

        <button class="button button-full   button-royal" ng-click="register()">
          Register
        </button>
      </div>
    </ion-content>

  </ion-modal-view>
</ion-view>
